html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 600px;
	margin: 0;
	padding:0;
	position:relative
}

/*#musictraveler-app{
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 600px;
}

#musictraveler-sidebar{
	width:20%;
	height: 100%;
	min-height: 600px;
	float:left;
}


#musictraveler-mapcanvas{
	min-height: 600px;
	height: 100%;
	width: 80%;
	display:inline-block;
}*/